.category {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0 0 0 / 16%);
    padding: 0px 25px;
    background-color: white;
}

.category__item {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.mainContents{
    padding: 8px;
    background-color: #f1f3f6;
}

/* Slideshow Section Start*/
.slideshow { 
    position: relative;
    padding: 0px 0px 10px 0px;
}

.slideshow__image {
    width: 100%;
    height: 280px; 
}
  
/* Next & previous buttons */
.slideshow__prevButton, .slideshow__nextButton {
cursor: pointer;
position: absolute;
top: 30.33%;
padding: 25px 0px;
color: black;
background-color: white;
font-weight: bold;
border-radius: 0 4px 4px 0;
text-decoration: none;
}
  
.slideshow__prevButton > span , .slideshow__nextButton > span {
    font-size: 48px;
}
.slideshow__prevButton {
    left: 0;
}
/* Position the "next button" to the right */
.slideshow__nextButton {
right: 0;
border-radius: 4px 0 0 4px;
}

/* Fading animation */
.slideshow__imageFade {
-webkit-animation-name: slideshow__imageFade;
-webkit-animation-duration: 1.5s;
animation-name: slideshow__imageFade;
animation-duration: 1.5s;
}

@-webkit-keyframes slideshow__imageFade {
from {opacity: .4} 
to {opacity: 1}
}
  
@keyframes slideshow__imageFade {
from {opacity: .4} 
to {opacity: 1}
}

/* Slideshow Section End*/

.subcategory {
    position: relative;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(0 0 0 / 10%);
}

.subcategory > h4 {
    padding: 15px 20px;
}

.subcategory__prevButton, .subcategory__nextButton {
    cursor: pointer;
    position: absolute;
    top: 33.33%;
    padding: 33px 0px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
}

.subcategory__prevButton > span , .subcategory__nextButton > span {
    font-size: 48px;
}

.subcategory__nextButton {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.productSlider {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow:hidden;
    border-top: 1px solid rgb(0 0 0 / 13%);
    width: 100%;
}
.productSlider__item {
    padding: 25px 15px;
    background-color: white;
    font-weight: bold;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    width: 185px;
    text-decoration: none;
    color: black;
}

.productSlider__itemImage {
    width: 165px;
    height: 150px
}

.productSlider__itemImage > img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.productSlider__itemText1 {
    font-weight: 500;
    margin-top: 15px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.productSlider__itemText2 {
    padding-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product__sellingPrice {
    font-size: 16px;
    font-weight: 500;
}

.product__actualPrice {
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 5px;
    color: #878787;
    font-weight: 400;
}
.product__discount {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #388e3c;
    letter-spacing: -.2px;
    font-weight: 500;
}

/* Footer */
footer{
    background-color: #172337;
    color: white;
    padding-top: 3%;
}

.Footer h6{
    color: #878787;
    font-size: .8em;
}

.Footer > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: .75em;
    font-weight: 100;
}

.Footer a{
    color: white;
    line-height: 1.3rem;
    text-decoration: none;
}

.Footer a:hover {
    color: white;
    text-decoration: underline;
  }

.Footer p{
    margin: 0;
    font-size: .96em;
    line-height: 1.2rem;
}

footer i{
    color: gold;
}

footer span{
    font-size: .75em;
    cursor: pointer;
}